$mainColor: rgb(228, 238, 82);
$mainGradient: linear-gradient(
  128deg,
  rgba(228, 238, 82, 1) 3%,
  rgb(110, 45, 93) 27%,
  rgb(52, 18, 59) 76%,
  rgb(65, 51, 43) 90%,
  rgb(6, 6, 6) 97%
);
$secondaryColor: rgb(215, 158, 78);
$secondaryGradient: linear-gradient(
  321deg,
  rgba(215, 158, 78, 1) 17%,
  rgba(214, 201, 78, 1) 31%,
  rgba(198, 215, 78, 0.15730042016806722) 73%
);
// $tertiaryGradiant: linear-gradient(
//   168deg,
//   rgba(247, 222, 49, 1) 17%,
//   rgba(207, 164, 62, 1) 31%,
//   rgba(198, 172, 84, 0.8295693277310925) 52%,
//   rgb(130, 91, 151) 63%,
//   rgba(57, 59, 41, 0.865983893557423) 75%,
//   rgba(19, 19, 14, 0.865983893557423) 89%
// );
$fourthGradient: linear-gradient(
  165deg,
  rgba(191, 110, 213, 1) 15%,
  rgba(224, 227, 92, 1) 39%,
  rgba(214, 201, 78, 1) 67%,
  rgba(198, 215, 78, 0.15) 95%
);
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: $fourthGradient;
}
header {
  background: url("/images/background-header-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between;
  color: white;
  border-bottom: 2px solid purple;
  h1 {
    margin: 0;
    font-size: 60px;
    padding-left: 50px;
  }
}
.img-containerTop {
  width: 450px;
  height: 150px;
}
footer {
  background-color: black;
  font-family: monospace;
  height: 60px;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    font-size: 14px;
    padding-top: 10px;
    color: white;
  }
  img {
    height: 15px;
    width: 15px;
    padding-top: 10px;
  }
}
main {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;

  h3 {
    font-size: 24px;
    margin-top: 100px;
    padding: 10px;
    color: purple;
  }
  h4 {
    color: purple;
    font-size: 24px;
    margin-left: 20px;
  }
  p {
    font-size: 18px;
    margin: 20px;
    padding-bottom: 30px;
  }
  #left {
    height: 250px;
    max-width: fit-content;
    float: left;
    border: 2px solid $mainColor;
    margin: 10px;
  }
  #right {
    height: 400px;
    max-width: fit-content;
    margin-top: -20px;
    float: right;
    border: 2px solid $mainColor;
  }
  .image-container {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }
}

.slideshow-container {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin-top: 10px;
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  #slideImg {
    height: 170px;
    width: 100%;
    border-radius: 5px;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .slideshow-wrapper {
    width: 800px;
  }
}
.tab {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  top: -170px;
  text-decoration: underline;
  img {
    position: relative;
    top: 6px;
    right: -8px;
    transition: all 0.2s ease-in-out;
  }
  .btnScrollTo1:hover img {
    cursor: pointer;
    transform: rotate(90deg);
  }
  .btnScrollTo2:hover img {
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.return-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.return {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  transform: rotate(-45deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }

  &:after {
    content: "";
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition: 0.2s ease;
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
  }
  &:hover::before {
    border-color: orange;
    transform: scale(0.8);
  }
}

//------------------------------------------------------
$size: 50px;
$items: 3;
$transition: 0.5s;
$bounce: cubic-bezier(0.3, 1.4, 0.5, 0.9);
$color-inner: gold;
$color-outer: tomato;
$background: mix($color-inner, $color-outer);
$black: shade($color-outer, 80%);
$start-scale: 0.5;
$start-rot: 190deg;

nav {
  display: block;
  position: fixed;
  width: $size * $items * 2;
  height: $size * $items * 2;
  user-select: none;
  transform: translate3d($size * 0.5, -$size * 0.5, 0);
  transition: transform $transition $bounce;

  &.open {
    transform: translate3d(0, 0, 0);
  }

  &.infoLinks {
    top: 150px;
    right: 0px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: $size * 0.5 Alegreya Sans, sans-serif;
  line-height: $size * 0.8;
  padding-top: $size * 0.2;
  border-radius: $size * $items;
  transform: scale3d($start-scale, $start-scale, $start-scale)
    rotate3d(0, 0, 1, $start-rot);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform $transition $bounce, opacity $transition;

  div {
    transform: rotate(180deg);
  }

  .open & {
    pointer-events: auto;
    opacity: 1;
  }
}

@for $i from 1 through $items {
  .l#{$i} {
    $i: $i - 1;
    $-i: $items - $i;
    $pct: $i/$items * 100%;
    $color: mix($color-inner, $color-outer, $pct);

    top: $i * $size;
    left: $i * $size;
    right: $i * $size;
    bottom: $i * $size;
    background: $color;
    transition-delay: $i * $transition/$items;

    .open & {
      transition-delay: $i * $transition/$items;
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, $start-rot);
      opacity: 1;

      &:hover {
        background: shade($color, 90%);
        color: $color;
        transition-delay: 0s;
      }

      &:active {
        background: shade($color, 50%);
        color: $color;
      }

      &.toggle {
        transform: scale3d(0.9, 0.9, 0.9)
          rotate3d(0, 0, 1, $start-rot - 180deg);
      }
    }
  }
}

.toggle {
  line-height: $size * 2;
  padding: 0;
  width: $size * 2;
  background: $color-inner;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;

  .open & {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  &:hover {
    background: shade($color-inner, 90%);
    text-decoration: underline;
  }
  &:active {
    background: shade($color-inner, 50%);
    color: rgba($color-inner, 0.5);
    transform: scale(0.9);
    transition-duration: 0s;
  }
}

@media only screen and (max-width: 1250px) {
  main {
    margin: auto;
  }
  .tab {
    top: auto;
    left: 10px;
  }
  .infoLinks {
    position: absolute;
    margin-top: 70px;
    scale: 0.8;
  }
  header {
    height: 100px;
    h1 {
      font-size: 30px;
    }
  }
  .slideshow-container {
    img {
      max-height: 125px;
    }
  }
  #left {
    width: 340px;
  }
  #right {
    margin-right: 20px;
  }
}
.image-container {
  flex-direction: column;
}
figcaption {
  position: absolute;
  margin-top: 235px;
  margin-left: 20px;
  color: white;
}
header {
  h1 {
    width: auto;
    position: relative;
    color: white;
    animation-name: team;
    animation-duration: 3s;
  }
}

@keyframes team {
  0% {
    left: 1000px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
